[submodule "opentelemetry-proto"]
path = opentelemetry-proto
url = git@github.com:CodapeWild/opentelemetry-proto.git
[submodule "skywalking-data-collect-protocol"]
path = skywalking-data-collect-protocol
url = git@github.com:CodapeWild/skywalking-data-collect-protocol.git
[submodule "pinpoint-grpc-idl"]
path = pinpoint-grpc-idl
url = git@github.com:CodapeWild/pinpoint-grpc-idl.git
